{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "badge": {
            "branch": "master"
        },
        "text": "php:\/\/stderr"
    },
    "minMsi": 100,
    "minCoveredMsi": 100,
    "timeout": 10
}