<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutResourceUsageDuringSmallTests="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="tests/bootstrap.php"
    colors="true"
    columns="max"
    verbose="true"
>

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>

  <php>
    <ini name="display_errors" value="1" />
    <ini name="error_log" value="/proc/self/fd/2" />
  </php>

  <testsuites>
    <testsuite name="unit">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

</phpunit>
