<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutResourceUsageDuringSmallTests="true"
        beStrictAboutOutputDuringTests="true"
        colors="true"
        bootstrap="tests/bootstrap.php">

    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_log" value="/proc/self/fd/2" />
    </php>

    <testsuites>
        <testsuite name="coppolafab Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
